.float-r {
    float: right;
}

// .float-r {
//     float: right;
//     margin: 10px;
// }
.back {
    background: url('http://www.prime-junta.net/pont/img/How_to/ha_Testing_lenses/high_acc_low_res.jpg');
    background-size: cover;
    height: 170px;
    width: 100%;
}