<div class="row">

    <div class="col-lg-3">
        <section class="widget" widget>

            <div class="widget-body">
                <p>Filters</p>
                <br>
                <br>
                <legend>Brands</legend>
                <div *ngFor="let i of allBrands">
                    <input name="{{i.name}}" type="checkbox" [(ngModel)]="i.checked" [value]="i.name">
                    <label>
                    {{i.name}}
                  </label>
                </div>

                <br>
                <br>
                <legend>
                    Categories</legend>
                <div *ngFor="let i of allInt">
                    <p><b>{{i.name}}</b></p>
                    <div *ngFor="let ii of i.sub_category">
                        <input name="{{ii.name}}" type="checkbox" [(ngModel)]="ii.checked" [value]="ii.name">
                        <label>
                    {{ii.name}}
                  </label>
                    </div>

                </div>
                <br>
                <br>
                <!--<legend>
                    Availability</legend>
                <div class="checkbox abc-checkbox">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">
                   Exclude Out of Stock
                  </label>
                </div>-->
                <!--<br>
                <br>-->
                <div style="text-align:center">
                    <button class="btn btn-primary mb-xs" (click)="submit()" style="float:center;" role="button">
            Submit
          </button>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-9">

        <div class="row">
            <div *ngFor="let i of productList" class="col-lg-3">
                <section class="widget" widget>

                    <div class="widget-body">
                        <img [routerLink]=" ['/app/productDetail-page/'+i._id] " [src]="i.images[0]" class="back">
                        <br>
                        <br>

                        <p style="text-align:center"><b>{{i.name}}</b></p>
                        <p><small>{{i.brand.name}}</small></p>
                        <button (click)="addToCart(i)" class="btn btn-success mb-xs" style="width: 100%;" role="button">
            Add to Cart
          </button>
                    </div>
                </section>
            </div>



            <div *ngIf=" productList == undefined || productList.length == 0  " class="col-lg-9">
                <section class="widget" widget>
                    No Products Found
                </section>

            </div>

        </div>



    </div>


</div>