<div class="row">
    <div class="col-lg-8">
        <section *ngFor="let i of cartList;let a=index" class="widget" widget>

            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="back">

                    </div>
                    <div class="col-lg-8">
                        <p style="text-align:center"><b>{{i.name}}</b></p>
                        <p style="text-align:center"><b><i>{{i.brand.name}}</i></b></p>
                        <br>
                        <br>
                        <button (click)="remove(a)" class="btn btn-gray mb-xs" style="width: 100px;float:right" role="button">
           Remove
          </button>
                    </div>





                </div>

            </div>
        </section>

    </div>
    <div class="col-lg-4" *ngIf="cartList.length > 0">
        <section class="widget" widget>

            <div class="widget-body">
                <button (click)="placeOrder()" class="btn btn-success mb-xs" style="width: 100%" role="button">
           Place the Order
          </button>
            </div>
        </section>
        <section class="widget" widget>
            <app-dialog [(visible)]="showDialog">

                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">Address Label </label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="label" name="lable">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">Name </label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="nameAd" name="nameAd">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">Mobile No. </label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="mobile_noAd" name="mobile_noAd">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">Address  </label>
                    <div class="col-md-5 ">
                        <textarea type="text" class="form-control" [(ngModel)]="address" name="address"></textarea>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">Near By </label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="near_by" name="near_by">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">Country </label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="country" name="country">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">State</label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="state" name="state">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">City </label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="city" name="city">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="max-length">PinCode </label>
                    <div class="col-md-5 ">
                        <input type="text" class="form-control" [(ngModel)]="pincode" name="pincode">
                    </div>

                </div>
                <div class="form-group">
                    Address Type
                    <div class="form-group row">
                        <!--<label for="normal-field" class="col-md-4  col-form-label text-md-right">Gender</label>-->
                        <div style="padding-left: 20px;
    padding-top: 10px;">
                            <input type="radio" name="radio1" [(ngModel)]="addressType" value="Home" checked>
                            <label for="radio1">
                        Home
                      </label>
                            <input type="radio" name="radio1" [(ngModel)]="addressType" value="Work" checked>
                            <label for="radio1">
                        Work
                      </label>

                        </div>


                    </div>
                </div>
                <div style="    text-align: center;">

                    <button class="btn btn-primary" type="button" (click)="submitNewAddress()">
              Submit
            </button>
                </div>

            </app-dialog>

            <div class="widget-body">
                <legend><b>Select Address</b> <button style="    float: right;
    height: 30px;" (click)="addNewAddress()" class="btn btn-primary mb-xs" role="button">
            Add New
          </button></legend>


                <div *ngFor="let i of addressess ; let a = index" class="form-group row">
                    <!--<span class="help-block">erere</span>-->
                    <label class="col-md-2  col-form-label text-md-right" for="max-length">{{i.lable}}</label>
                    <div class="col-md-7 ">
                        <b>{{i.name}} - </b> {{i.mobile_no}}
                        <p> {{address}}</p>
                        <p>{{i.near_by}}, &nbsp; {{i.city}}&nbsp;,{{i.state}} - {{i.pincode}},&nbsp;{{i.country}}</p>

                    </div>
                    <div class="col-md-3 ">

                        <input type="radio" name="radio1" [(ngModel)]="addressSelected" value="{{i._id}}" checked>

                    </div>
                    <div>

                    </div>

                </div>
                <p *ngIf="addressess == undefined || addressess.length == 0 "><i><b>No address Found</b></i></p>

            </div>

        </section>

    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <section *ngIf="cartList.length == 0" class="widget" widget>
            <b><i>  No Product in Cart</i></b>
        </section>

    </div>